.game-board {
  display: inline-block;
}

.board-row,
.label-row {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.label-vertical {
  width: 20px;
  line-height: 60px;
}

.label-horizontal {
  width: 62px;
}

.board-square {
  width: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid black;
  background-color: rgb(192, 192, 192);
}

.board-square img {
  width: 100%;
  height: 100%;
}

.selected {
  background-color: orange;
}

.white {
  background-color: rgb(179, 231, 202);
}

.black {
  background-color: rgb(86, 126, 109);
}
